@page "/bookings/cancel/{bookingId:int?}"
@using KundenWebSystem.Database.Model
@using KundenWebSystem.Data
@using Components
@inject SignInService SignInService
@inject KWSContext Context
@inject BookingService bookingService
@inject NavigationManager Navigation

<div class="row container-fluid">
    <h1>Details zur Buchung</h1>
    <KundenWebSystem.Pages.Bookings.Components.Popup @ref="popup"
                                                     Title="Möchten Sie stornieren?"
                                                     Content="Sind Sie sicher, dass Sie diese Buchung stornieren wollen?"
                                                     InteractionResult="@OnPopupInteraction" />
    <hr />
    @if (eventDatenId == -1)
    {
        <p>Id not found: @eventDatenId</p>
    }
    else
    {
        <KundenWebSystem.Pages.Bookings.Components.EventData EventDataId="@eventDatenId" />
    }
    <hr />

    <h3>Buchungsdaten</h3>

    <div>
        <div class="row">
            <div class="col">
                <b>Preis pro Teilnehmer</b>
            </div>
            <div class="col">
                <b>Gebuchte Plätze</b>
            </div>
        </div>

        @if (CurrentBookings != null)
        {
            <div class="row">
                <div class="col">
                    @CurrentBookings.ed_EvDaten.ed_Preis
                </div>
                <div class="col">
                    @CurrentBookings.bu_GebuchtePlaetze
                </div>
            </div>
        }
    </div>
    <hr />

    <h3>Buchungsstatus</h3>

    @if (CurrentBookings != null)
    {
        <div>
            <div class="row">
                <div class="col">
                    @if (CurrentBookings.bu_Storniert)
                    {
                        <b>Storniert</b>
                    }
                    else
                    {
                        <b>Offen</b>
                    }
                </div>
            </div>
        </div>
    }

    <hr />

    <div>
        <div class="row">
            <div class="col"><a href="/bookings">Zurück zur Übersicht</a></div>
            @if (CurrentBookings != null)
            {
                @if (!CurrentBookings.bu_Storniert)
                {
                    <div class="col"><button type="button" class="btn btn-danger" @onclick="DoCancelBooking">Buchung stornieren</button></div>
                }
            }
        </div>
    </div>
</div>


@code {
    private tbl_Buchungen _CurrentBookings;

    public tbl_Buchungen CurrentBookings
    {
        get { return _CurrentBookings; }
        set { _CurrentBookings = value; }
    }

    [Parameter]
    public int BookingId { get; set; }


    private int eventDatenId = -1;



    private Popup popup;

    public void DoCancelBooking()
    {
        popup.Open();
    }

    protected override async Task OnInitializedAsync()
    {
        CurrentBookings = await bookingService.GetBuchungFromId(BookingId);
        eventDatenId = CurrentBookings.ed_EvDatenID;
    }

    private async Task OnPopupInteraction(bool value)
    {
        if (value)
        {
            CurrentBookings.bu_Storniert = value;
            CurrentBookings.ed_EvDaten.ed_AktTeilnehmer -= CurrentBookings.bu_GebuchtePlaetze;
            await Context.SaveChangesAsync();
        }
    }

    public int? LoggedInUser { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        LoggedInUser = await SignInService.GetLoggedInUser();

        if (LoggedInUser == null)
        {
            Navigation.NavigateTo("/login");
            return;
        }

        if(CurrentBookings.kd_KundenID != LoggedInUser.Value)
        {
            Navigation.NavigateTo("/login");
            return;
        }

        StateHasChanged();
    }
}
